#content-dashboard{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;


  #summary-boxes{
    height: auto;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    gap: 20px;

    .box-content{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 4px 2px #CCCCCC5E;
      background-color: white;
      height: 150px;
      width: 300px;
      gap: 20px;

      .circle-icon{
        background-color: #D9F3EA;
        border-radius: 99%;
        height: 70px;
        width: 70px;

        img{
          width: 100%;
        }
      }

      .box-content-text{
        //margin-left: 20px;
        h1{
          font-size: 35px;
          height: 46px;
        }
        h2{
          font-size: 14px;
          font-weight: 400;
        }

        .text-percentage{
          display: flex;
          padding-top: 6px;

          .circle-icon-little{
            background-color: #D9F3EA;
            border-radius: 99%;
            height: 15px;
            width: 15px;

            .bx{
              margin-left: 1px;
              font-size: 12px;
              color: #20ba86;
            }
          }

          .bad-result{
            background-color: #FFE7E7 !important;

            .bx{
              margin-left: 2px;
              color: #FF6364;
            }
          }

          h3{
            margin-left: 4px;
            color: #797981;
            font-size: 11px;
          }
        }
      }



    }

  }

  #canvas-order{
    width: 100%;
    min-height: 300px;
    height: auto;

    background-color: white;
    //margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 2px #CCCCCC5E;
    //overflow: hidden;

    .header-chart{
      height: auto;
      margin-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;

      span{

        h2{
          font-size: 20px;
          color: #333333;
          font-weight: 700;
        }

        h3{
          margin-top: 2px;
          font-size: 13px;
          color: #babac0;
        }
      }

      /*button[type="button"]{


      }*/
    }

    .chart-container{
      margin-top: 20px;
      padding-bottom: 20px;
      height: 190px;
    }

  }

  #canvas-responsive{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:20px;
    width: 100%;
    height: auto;

    .canvas-revenue{
      flex-grow: 8;
      height: 390px;
      border-radius: 10px;
      box-shadow: 0 4px 2px #CCCCCC5E;
      background-color: white;
    }

    //Estos 2 estan fuera para compartir clase
    .header-chart{
      margin-top: 30px;
      padding-right: 50px;
      padding-left: 50px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap:15px;
      height: auto;

      h2{
        font-size: 20px;
        color: #333333;
        font-weight: 700;
      }

      .legend{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        height: 24px;


        h3{
          margin-top: 2px;
          font-size: 13px;
          color: #babac0;
        }

        #past-year{
          background-color: #2C9CDB;
          width: 15px;
          height: 15px;
          border-radius: 99%;
        }

        #current-year{
          background-color: #FF5B5A;
          width: 15px;
          height: 15px;
          border-radius: 99%;
        }
      }

      .actions{
        //display: flex;
        //flex-direction: row;
        button[type="button"]{
          border: 1.8px solid #747280;
          .button-content{
            h2{
              color: #333333;
              font-weight: 600;
            }
            .bx{
              color: #FF5B5A;
            }

          }

        }

        button[type="button"]:hover {
          background-color: #FF5B5A;
        }



      }


    }

    .chart-container{

      margin-top: 30px;
      height: 75%;
    }
    ////////////////////

    .canvas-customer{
      flex-grow: 2;
      height: 390px;
      border-radius: 10px;
      box-shadow: 0 4px 2px #CCCCCC5E;
      background-color: white;

      .chart-container{
        margin-top: 30px;
        height: 73%;
      }
    }
  }

}

@media (max-width: 1111px) {
  #content-dashboard{
    #summary-boxes{
      justify-content: center;
    }
    #canvas-responsive{
      .canvas-revenue{
        flex-grow: 1;
      }
      .canvas-customer{
        flex-grow:1;
      }
    }
  }
}



@media (max-width: 900px) {
  #content-dashboard{

    #canvas-responsive{
      //flex-direction: column;
      flex-wrap: wrap;
      .canvas-revenue{
        width: 100%;
      }
      .canvas-customer{
        width: 100%;
      }
    }
  }

}

@media (max-width: 792px) {
  #content-dashboard {
    #summary-boxes {
      .box-content {
        width: 48%;
      }
    }

  }
}

@media (max-width: 710px) {
  #content-dashboard{
    #summary-boxes {
      flex-direction: column;
        .box-content{
          width: 100%;
          gap:10%;
        }
    }
  }
}

@media (max-width: 550px) {
  #content-dashboard{
    #canvas-order{
      .header-chart{
        flex-direction: column;
        gap: 10px;
      }
    }
    #canvas-responsive{
      .header-chart{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        .legend{
          align-self: center;
        }
        .actions{
          width: 100%;

          button[type="button"]{
            width: 85%;

          }
        }
      }

      .canvas-revenue{
        .chart-container{
          height: 65%;
        }

      }

      .canvas-customer{
        .chart-container{
          height: 62%;
        }
      }
    }
  }
}