h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #333333;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

button[type=button] {
  all: unset;
  display: inline-block;
  background-color: white;
  border-radius: 12px;
  padding: 5px 20px;
  border: 1.8px solid #2C9CDB;
  transform: scale(1);
  color: #2C9CDB;
  transition: transform ease-in-out 250ms, box-shadow ease-in-out 250ms;
  font-family: Barlow, sans-serif;
  font-weight: 700;
}

button[type=button]:active {
  transform: scale(0.955);
}

button[type=button]:hover {
  color: white;
  background-color: #2C9CDB;
  transition: ease-in-out 250ms;
  cursor: pointer;
}

#header-dashboard {
  width: 100%;
  min-height: 80px;
  height: auto;
  padding-bottom: 30px;
}
#header-dashboard #header-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
#header-dashboard #header-container .content-welcome h2 {
  font-size: 28px;
  color: #454255;
}
#header-dashboard #header-container .content-welcome h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #B7B7B7;
}
#header-dashboard #header-container .content-fix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 550px;
}
#header-dashboard #header-container .content-fix .content-lapse {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 2px rgba(204, 204, 204, 0.368627451);
  height: 68px;
  width: 290px;
}
#header-dashboard #header-container .content-fix .content-lapse .content-lapse-text h2 {
  color: #3F4953;
  font-size: 18px;
  margin-bottom: 8px;
}
#header-dashboard #header-container .content-fix .content-lapse .content-lapse-text h3 {
  font-size: 12px;
  color: #747280;
}
#header-dashboard #header-container .content-fix .content-lapse .box-icon {
  background-color: #DFF0FA;
  border-radius: 10px;
}
#header-dashboard #header-container .content-fix .content-lapse .box-icon i {
  font-size: 30px;
  color: #2C9CDB;
  padding: 7px;
}
#header-dashboard #header-container .content-fix .content-lapse i {
  font-size: 35px;
}
#header-dashboard #header-container .content-fix .content-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 230px;
  height: 50px;
  border-left: 1px solid #B7B7B7;
}
#header-dashboard #header-container .content-fix .content-user h3 {
  font-size: 16px;
  color: #747280;
  margin-right: 20px;
}
#header-dashboard #header-container .content-fix .content-user h3 span {
  color: black;
}
#header-dashboard #header-container .content-fix .content-user .avatar-user {
  height: 45px;
  width: 45px;
  overflow: hidden;
  border-radius: 99%;
  border: 2px solid white;
}
#header-dashboard #header-container .content-fix .content-user .avatar-user img {
  width: 70px;
  height: 50px;
  transform: translate(-13px, 0px);
}

@media (max-width: 1050px) {
  #header-dashboard #header-container {
    flex-direction: column;
    gap: 30px;
  }
  #header-dashboard #header-container .content-welcome {
    width: 100%;
  }
  #header-dashboard #header-container .content-fix {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 710px) {
  #header-dashboard #header-container .content-fix {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #header-dashboard #header-container .content-fix .content-lapse {
    width: 100%;
    order: 3;
  }
  #header-dashboard #header-container .content-fix .content-user {
    order: 2;
    width: 100%;
  }
}
@media (max-width: 425px) {
  #header-dashboard #header-container .content-fix .content-lapse .box-icon i {
    font-size: 25px;
  }
  #header-dashboard #header-container .content-fix .content-lapse .content-lapse-text h2 {
    font-size: 16px;
  }
  #header-dashboard #header-container .content-fix .content-lapse .content-lapse-text h3 {
    font-size: 10px;
  }
  #header-dashboard #header-container .content-fix .content-lapse i {
    font-size: 30px;
  }
}
#content-dashboard {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#content-dashboard #summary-boxes {
  height: auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  gap: 20px;
}
#content-dashboard #summary-boxes .box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 2px rgba(204, 204, 204, 0.368627451);
  background-color: white;
  height: 150px;
  width: 300px;
  gap: 20px;
}
#content-dashboard #summary-boxes .box-content .circle-icon {
  background-color: #D9F3EA;
  border-radius: 99%;
  height: 70px;
  width: 70px;
}
#content-dashboard #summary-boxes .box-content .circle-icon img {
  width: 100%;
}
#content-dashboard #summary-boxes .box-content .box-content-text h1 {
  font-size: 35px;
  height: 46px;
}
#content-dashboard #summary-boxes .box-content .box-content-text h2 {
  font-size: 14px;
  font-weight: 400;
}
#content-dashboard #summary-boxes .box-content .box-content-text .text-percentage {
  display: flex;
  padding-top: 6px;
}
#content-dashboard #summary-boxes .box-content .box-content-text .text-percentage .circle-icon-little {
  background-color: #D9F3EA;
  border-radius: 99%;
  height: 15px;
  width: 15px;
}
#content-dashboard #summary-boxes .box-content .box-content-text .text-percentage .circle-icon-little .bx {
  margin-left: 1px;
  font-size: 12px;
  color: #20ba86;
}
#content-dashboard #summary-boxes .box-content .box-content-text .text-percentage .bad-result {
  background-color: #FFE7E7 !important;
}
#content-dashboard #summary-boxes .box-content .box-content-text .text-percentage .bad-result .bx {
  margin-left: 2px;
  color: #FF6364;
}
#content-dashboard #summary-boxes .box-content .box-content-text .text-percentage h3 {
  margin-left: 4px;
  color: #797981;
  font-size: 11px;
}
#content-dashboard #canvas-order {
  width: 100%;
  min-height: 300px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 2px rgba(204, 204, 204, 0.368627451);
}
#content-dashboard #canvas-order .header-chart {
  height: auto;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
#content-dashboard #canvas-order .header-chart span h2 {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
}
#content-dashboard #canvas-order .header-chart span h3 {
  margin-top: 2px;
  font-size: 13px;
  color: #babac0;
}
#content-dashboard #canvas-order .header-chart button .button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#content-dashboard #canvas-order .header-chart button .button-content h2 {
  font-size: 14px;
  font-weight: 700;
}
#content-dashboard #canvas-order .header-chart button .button-content .bx {
  font-size: 24px;
}
#content-dashboard #canvas-order .chart-container {
  margin-top: 20px;
  padding-bottom: 20px;
  height: 190px;
}
#content-dashboard #canvas-responsive {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
  height: auto;
}
#content-dashboard #canvas-responsive .canvas-revenue {
  flex-grow: 8;
  height: 390px;
  border-radius: 10px;
  box-shadow: 0 4px 2px rgba(204, 204, 204, 0.368627451);
  background-color: white;
}
#content-dashboard #canvas-responsive .header-chart {
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#content-dashboard #canvas-responsive .header-chart h2 {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
}
#content-dashboard #canvas-responsive .header-chart .legend {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#content-dashboard #canvas-responsive .header-chart .legend h3 {
  margin-top: 2px;
  font-size: 13px;
  color: #babac0;
}
#content-dashboard #canvas-responsive .header-chart .legend #past-year {
  background-color: #2C9CDB;
  width: 15px;
  height: 15px;
  border-radius: 99%;
}
#content-dashboard #canvas-responsive .header-chart .legend #current-year {
  background-color: #FF5B5A;
  width: 15px;
  height: 15px;
  border-radius: 99%;
}
#content-dashboard #canvas-responsive .chart-container {
  margin-top: 30px;
  height: 75%;
}
#content-dashboard #canvas-responsive .canvas-customer {
  flex-grow: 2;
  height: 390px;
  border-radius: 10px;
  box-shadow: 0 4px 2px rgba(204, 204, 204, 0.368627451);
  background-color: white;
}

@media (max-width: 1111px) {
  #content-dashboard #summary-boxes {
    justify-content: center;
  }
  #content-dashboard #canvas-responsive .canvas-revenue {
    flex-grow: 1;
  }
  #content-dashboard #canvas-responsive .canvas-customer {
    flex-grow: 1;
  }
}
@media (max-width: 900px) {
  #content-dashboard #canvas-responsive {
    flex-wrap: wrap;
  }
  #content-dashboard #canvas-responsive .canvas-revenue {
    width: 100%;
  }
  #content-dashboard #canvas-responsive .canvas-customer {
    width: 100%;
  }
}
@media (max-width: 792px) {
  #content-dashboard #summary-boxes .box-content {
    width: 48%;
  }
}
@media (max-width: 710px) {
  #content-dashboard #summary-boxes {
    flex-direction: column;
  }
  #content-dashboard #summary-boxes .box-content {
    width: 100%;
    gap: 10%;
  }
}
@media (max-width: 550px) {
  #content-dashboard #canvas-order .header-chart {
    flex-direction: column;
    gap: 10px;
  }
  #content-dashboard #canvas-responsive .header-chart {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
  #content-dashboard #canvas-responsive .header-chart .legend {
    align-self: center;
  }
  #content-dashboard #canvas-responsive .canvas-revenue .chart-container {
    height: 65%;
  }
}
.chart-position {
  position: absolute;
  z-index: 1;
}

#website {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}
#website #panel {
  width: 100%;
  height: auto;
  padding: 20px 40px 0 40px;
}

@media (max-width: 550px) {
  #website #panel {
    padding: 20px 20px 0 20px;
  }
}

/*# sourceMappingURL=base-dashboard.css.map */
