h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #333333;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

button[type=button] {
  all: unset;
  display: inline-block;
  background-color: white;
  border-radius: 12px;
  padding: 5px 20px;
  border: 1.8px solid #2C9CDB;
  transform: scale(1);
  color: #2C9CDB;
  transition: transform ease-in-out 250ms, box-shadow ease-in-out 250ms;
  font-family: Barlow, sans-serif;
  font-weight: 700;
}

button[type=button]:active {
  transform: scale(0.955);
}

button[type=button]:hover {
  color: white;
  background-color: #2C9CDB;
  transition: ease-in-out 250ms;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F2F7;
}

#sidebar {
  min-width: 325px;
  min-height: 950px;
  background-color: #FFFFFF;
  box-shadow: 2px 0 10px rgba(204, 204, 204, 0.368627451);
  transition: all 500ms ease;
}
#sidebar #content-fixed {
  position: fixed;
}
#sidebar #content-fixed #header {
  height: 152px;
  width: 325px;
}
#sidebar #content-fixed #header .title {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  padding-top: 35px;
  transition: all 300ms;
}
#sidebar #content-fixed #header .title h1 {
  font-size: 45px;
}
#sidebar #content-fixed #header .title h1 span {
  color: #20ba86;
}
#sidebar #content-fixed #header .title #btn {
  margin-top: 15px;
  margin-left: 50px;
  font-size: 40px;
  transition: all 300ms ease;
}
#sidebar #content-fixed #header .title #btn:hover {
  color: #20ba86;
  cursor: pointer;
}
#sidebar #content-fixed #header h3 {
  font-size: 17px;
  color: #babac0;
  margin-left: 50px;
  padding-top: 10px;
}
#sidebar #content-fixed #aside {
  margin-top: 30px;
  height: 710px;
}
#sidebar #content-fixed #aside #nav-list {
  margin-left: 50px;
  margin-right: 50px;
  list-style: none;
}
#sidebar #content-fixed #aside #nav-list li {
  width: 225px;
  height: 50px;
  line-height: 45px;
  margin: 10px 0;
}
#sidebar #content-fixed #aside #nav-list li .link-name {
  text-decoration: none;
  display: flex;
  padding-left: 20px;
  color: black;
}
#sidebar #content-fixed #aside #nav-list li .link-name .icons {
  margin-top: 2px;
  font-size: 20px;
  transition: all 1000ms ease;
}
#sidebar #content-fixed #aside #nav-list li .link-name .float-text h2 {
  padding-left: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #747280;
}
#sidebar #content-fixed #aside #nav-list li:hover {
  background-color: #d9f3ea;
  border-radius: 10px;
  transition: all 300ms;
}
#sidebar #content-fixed #aside #nav-list li:hover .link-name {
  color: #20ba86;
}
#sidebar #content-fixed #aside #nav-list li:hover .link-name .float-text h2 {
  color: #20ba86;
  font-weight: 700;
}

#sidebar-mobile {
  min-width: 75px;
  min-height: 950px;
  background-color: #FFFFFF;
  box-shadow: 2px 0 10px rgba(204, 204, 204, 0.368627451);
  transition: all 1000ms ease;
  position: relative;
}
#sidebar-mobile #content-fixed::-webkit-scrollbar {
  background: transparent;
}
#sidebar-mobile #content-fixed {
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#sidebar-mobile #content-fixed #header {
  height: 152px;
  width: 100%;
}
#sidebar-mobile #content-fixed #header .title {
  width: 100%;
  padding-top: 35px;
}
#sidebar-mobile #content-fixed #header .title h1 {
  display: none;
}
#sidebar-mobile #content-fixed #header .title #btn {
  margin-top: 15px;
  margin-left: 18px;
  font-size: 40px;
  transition: all 1000ms ease;
}
#sidebar-mobile #content-fixed #header .title #btn:hover {
  color: #20ba86;
  cursor: pointer;
}
#sidebar-mobile #content-fixed #header h3 {
  display: none;
}
#sidebar-mobile #content-fixed #aside {
  height: 788px;
}
#sidebar-mobile #content-fixed #aside #nav-list {
  margin-left: 10px;
  list-style: none;
}
#sidebar-mobile #content-fixed #aside #nav-list li {
  width: 55px;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
}
#sidebar-mobile #content-fixed #aside #nav-list li .link-name {
  text-decoration: none;
  display: flex;
  padding-left: 12px;
  color: black;
}
#sidebar-mobile #content-fixed #aside #nav-list li .link-name .icons {
  margin-top: 3px;
  font-size: 30px;
  transition: all 1000ms ease;
}
#sidebar-mobile #content-fixed #aside #nav-list li .link-name .float-text {
  position: absolute;
  margin-top: 6px;
  transform: translate(-200px, 0%);
  border-radius: 5px;
  height: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: auto;
  white-space: nowrap;
  opacity: 1;
  transition: 0s;
}
#sidebar-mobile #content-fixed #aside #nav-list li .link-name .float-text h2 {
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #747280;
}
#sidebar-mobile #content-fixed #aside #nav-list li:hover {
  background-color: #d9f3ea;
  border-radius: 10px;
  transition: all 300ms;
}
#sidebar-mobile #content-fixed #aside #nav-list li:hover .link-name {
  color: #20ba86;
}
#sidebar-mobile #content-fixed #aside #nav-list li:hover .link-name .float-text {
  animation-name: down-transition;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  width: auto;
}

@keyframes down-transition {
  0% {
    transform: translate(-200px, -50%);
    opacity: 0;
  }
  50% {
    transform: translate(70px, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(70px, 0px);
    opacity: 1;
  }
}
@media (max-width: 425px) {
  #sidebar-mobile #aside #nav-list li .link-name .icons {
    font-size: 25px;
  }
}

/*# sourceMappingURL=base-sidebar.css.map */
