h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #333333;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F2F7;
}

#sidebar {
  width: 325px;
  min-height: 950px;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 2px 0 10px rgba(204, 204, 204, 0.368627451);
  transition: all 500ms ease;
}
#sidebar #header {
  height: 152px;
  width: 325px;
}
#sidebar #header .title {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  padding-top: 35px;
  transition: all 300ms;
}
#sidebar #header .title h1 {
  font-size: 45px;
}
#sidebar #header .title h1 span {
  color: #20ba86;
}
#sidebar #header .title #btn {
  margin-top: 15px;
  margin-left: 50px;
  font-size: 40px;
  transition: all 300ms ease;
}
#sidebar #header .title #btn:hover {
  color: #20ba86;
  cursor: pointer;
}
#sidebar #header h3 {
  font-size: 17px;
  color: #babac0;
  margin-left: 50px;
  padding-top: 10px;
}
#sidebar #aside {
  margin-top: 30px;
  height: 710px;
}
#sidebar #aside #nav-list {
  margin-left: 50px;
  margin-right: 50px;
  list-style: none;
}
#sidebar #aside #nav-list li {
  width: 225px;
  height: 50px;
  line-height: 45px;
  margin: 10px 0;
}
#sidebar #aside #nav-list li .link-name {
  text-decoration: none;
  display: flex;
  padding-left: 20px;
  color: black;
}
#sidebar #aside #nav-list li .link-name .icons {
  margin-top: 2px;
  font-size: 20px;
  transition: all 1000ms ease;
}
#sidebar #aside #nav-list li .link-name .float-text h2 {
  padding-left: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #747280;
}
#sidebar #aside #nav-list li:hover {
  background-color: #d9f3ea;
  border-radius: 10px;
  transition: all 300ms;
}
#sidebar #aside #nav-list li:hover .link-name {
  color: #20ba86;
}
#sidebar #aside #nav-list li:hover .link-name .float-text h2 {
  color: #20ba86;
  font-weight: 700;
}

#sidebar-mobile {
  width: 75px;
  min-height: 950px;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 2px 0 10px rgba(204, 204, 204, 0.368627451);
  transition: all 1000ms ease;
}
#sidebar-mobile #header {
  height: 152px;
  width: 100%;
}
#sidebar-mobile #header .title {
  width: 100%;
  padding-top: 35px;
}
#sidebar-mobile #header .title h1 {
  display: none;
}
#sidebar-mobile #header .title #btn {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 40px;
  transition: all 1000ms ease;
}
#sidebar-mobile #header .title #btn:hover {
  color: #20ba86;
  cursor: pointer;
}
#sidebar-mobile #header h3 {
  display: none;
}
#sidebar-mobile #aside {
  height: 788px;
}
#sidebar-mobile #aside #nav-list {
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}
#sidebar-mobile #aside #nav-list li {
  width: 55px;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
}
#sidebar-mobile #aside #nav-list li .link-name {
  text-decoration: none;
  display: flex;
  padding-left: 12px;
  color: black;
}
#sidebar-mobile #aside #nav-list li .link-name .icons {
  margin-top: 3px;
  font-size: 30px;
  transition: all 1000ms ease;
}
#sidebar-mobile #aside #nav-list li .link-name .float-text {
  position: absolute;
  margin-top: 6px;
  transform: translate(-125%, 0%);
  margin-left: 65px;
  border-radius: 5px;
  height: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: auto;
  opacity: 0;
  transition: 0s;
}
#sidebar-mobile #aside #nav-list li .link-name .float-text h2 {
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #747280;
}
#sidebar-mobile #aside #nav-list li:hover {
  background-color: #d9f3ea;
  border-radius: 10px;
  transition: all 300ms;
}
#sidebar-mobile #aside #nav-list li:hover .link-name {
  color: #20ba86;
}
#sidebar-mobile #aside #nav-list li:hover .link-name .float-text {
  animation-name: down-transition;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes down-transition {
  0% {
    transform: translate(-125%, -50%);
    opacity: 0;
  }
  50% {
    transform: translate(0%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@media (max-width: 425px) {
  #sidebar-mobile #aside #nav-list li .link-name .icons {
    font-size: 25px;
  }
}

/*# sourceMappingURL=base-sidebar.css.map */
